<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crochet</title>
</head>
<body>
    <h1>Crochet is so relaxing</h1>
    <br>
    <p>
        Do you crochet, knit or create in public spaces?  I do and I’ve found it’s a good conversation starter.  People want to know what I’m making and we talk about what they or their mother/sister/friend/daughter is making or has made.  Yesterday while was out crocheting I started talking with a lady who told me that her 20ish son knits to relax.  He doesn’t follow a pattern or make anything in particular, he purely knits to let go of his worries and burdens.  The lady was obviously very proud of her son, and I think it’s great he’s got a tool to relax.

I try to crochet whenever I can and this conversation got me thinking about why I love to crochet. This is what I came up with:

For the finished product – there’s nothing nicer than having a handmade rug to snuggle up to or to wear a stunning scarf that I’ve made myself. I love the sense of achievement I get when I’ve finally finished what I’ve been making.
To relax – when I’m a bit stressed and when my mind is buzzing I find that the repetitive motion of crochet soothes and relaxes me. It puts me in a better frame of mind.
For healing – I have a chronic illness that leaves me with no energy – walking the dog and preparing meals is about all I can do on a bad day.  On these days I’ve found that if I crochet something simple it gives me the satisfaction of being able to achieve something and makes my illness easier to live with.
To create art – because I love to crochet I use it as a way to create art.  I love to combine colours and textures in different ways to make an item of beauty.
For happiness – my ideal day involves crocheting because it makes me happy.  It really is the simple things in life that bring the most joy!
From this list everyone should be crocheting!  We’d all be happier, healthier and more relaxed, and maybe there would be no wars!

How about you?  Why do you crochet, knit or do something else that you love?

Cheers,

Me
    </p>
</body>
</html>